body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 500px;
    min-height: 300px;
    font-size: 18px;
    background: rgb(99, 237, 118);
    border-radius: 15px;
    box-shadow: rgba(239, 5, 24, 0.35) 0px 5px 15px;
    padding: 25px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 6px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 16px;
    text-align: center;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 8px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #27ae60;
}

.label {
    font-weight: bold;
}